body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('images/leafBackground.jpg');
    font-family: 'Raleway';
    color: white;
    letter-spacing: 0.1em;
}

.blackBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6%;
    width: 88vw;
    text-align: center;
}

.blackBox > h1{
    font-size: 2em;
    margin-bottom: 0.5em;
}

.btn{
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 1.2em;
    transition: all 0.2s;
}

.btnPrimary{
    background-color: white;
    color: black;
    border-radius: 0.5em;
    margin-top: 1.2em;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    flex-direction: row;
}

li a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.homeNav{
    text-align: center;
    padding: 2%;
}

.homeLink{
    color: white;
    text-decoration: none;
}

.productsHeader{
    text-align: center;
    color: black;
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.productsList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
    text-align: center;
    margin-top: 5%;
}

.productsList > div{

    background-color: white;
    margin: 2%;
    color: black;
}

.oneProduct, .twoProduct, .threeProduct {
    display: grid;
    grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;
    padding: 5%;
    border-radius: 3%;
}

@media (max-width: 2000px){
    .imageOverlay{
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 844px){

    .blackBox{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .productsList {
        grid-template-columns: 1fr; /* One column only */
        gap: 2em;
    }
    }

    .searchContainer {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      position: relative;
    }
    
    .searchIcon {
      cursor: pointer;
    }
    
    .searchDropdown {
      display: none;
      flex-direction: column;
      position: relative;
    }
    
    .searchDropdown.show {
      display: flex;
    }
    
    #searchInput {
      padding: 8px;
      font-size: 16px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .dropdownOptions {
      display: flex;
      flex-direction: column;
      background-color: #f6f6f6;
      border: 1px solid #ddd;
      border-top: none;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;
      top: 100%; /* directly under input */
      width: 100%;
      z-index: 10;
    }
    
    .dropdownOptions a {
      padding: 10px;
      color: black;
      text-decoration: none;
    }
    
    .dropdownOptions a:hover {
      background-color: #ddd;
    }
