@media (max-width: 2000px){
    .imageOverlay{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 844px){

    .blackBox{
        background-color: rgba(0, 0, 0, 0.5);
    }
}


body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('images/leafBackground.jpg');
    font-family: 'Raleway';
    color: white;
    letter-spacing: 0.1em;
}

.blackBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6%;
    width: 88vw;
    text-align: center;
}

.blackBox > h1{
    font-size: 2em;
    margin-bottom: 0.5em;
}

.btn{
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 1.2em;
    transition: all 0.2s;
}

.btnPrimary{
    background-color: white;
    color: black;
    border-radius: 0.5em;
    margin-top: 1.2em;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    flex-direction: row;
}

li a{
    color: white;
    text-align: center;
    text-decoration: none;
}